.carros-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.carros-lista h2 {
  margin-bottom: 40px;
 
}

.carros-lista ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.carros-lista li {
  min-width: 280px;
}

.carros-lista a {
  display: block;
}

.carros-lista img {
  margin-bottom: 16px;
}

.carros-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.carros-lista h3::before {
  content: '';
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
  margin-right: 8px;
  transition: width 0.2s;
}

.carros-lista a:hover h3::before {
  width: 24px;
}

.carros-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .carros-lista {
    padding-bottom: 60px;
  }
  .carros-lista ul {
    gap: 20px;
  }
 
}